<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DriveWire Disk Image</string>
			<key>CFBundleTypeName</key>
			<string>DriveWire Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DriveWire Document</string>
			<key>CFBundleTypeName</key>
			<string>DriveWire Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DriveWireDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>DriveWire MacServer Help</string>
	<key>CFBundleHelpBookName</key>
	<string>DriveWire MacServer Help</string>
	<key>CFBundleIconFile</key>
	<string>DriveWire Icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.tee-boy.drivewire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tboy</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://webpages.charter.net/boisy/dw.xml</string>
</dict>
</plist>
